<div class="page-header">
  <h1>Editing Food Detail #<%= @food_detail.id %></h1>
</div>

<%= form_tag(food_detail_url(@food_detail), method: 'patch', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :event_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
     <%= select_tag :event_id, options_from_collection_for_select(Event.all, :id, :full_event, @food_detail.event_id), class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :dietary_restriction_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
            <%= select_tag :dietary_restriction_id, options_from_collection_for_select(DietaryRestriction.all, :id, :dietary_notes, @food_detail.dietary_restriction_id), class: 'form-control' %>

    </div>
  </div>

  <div class="form-group">
    <%= label_tag :quantity, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :quantity, @food_detail.quantity, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update Food Detail", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
