<div class="page-header">
  <h1>New Food Detail</h1>
</div>

<%= form_tag(food_details_url, method: 'post', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :event_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= select_tag :event_id, options_from_collection_for_select(Event.all, :id, :cuisine), class: 'form-control' %>

    </div>
  </div>

  <div class="form-group">
    <%= label_tag :dietary_restrictions_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= select_tag :dietary_restrictions_id, options_from_collection_for_select(DietaryRestriction.all, :id, :dietary_notes), class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :quantity, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :quantity, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Create Food Detail", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
