<div class="page-header">
  <h1>New User</h1>
</div>

<% @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
        <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= message %>
      </div>
<% end %>

<%= form_tag(users_url, method: 'post', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :first_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :first_name, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :last_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :last_name, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :email_address, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :email_address, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :phone, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :phone, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :email_notification, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= check_box_tag :email_notification %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :sms_notification, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= check_box_tag :sms_notification %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Create User", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
