<div class="page-header">
  <h1>Event #<%= @event.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>User</dt>
  <dd><%= @user.first_name %> <%= @user.last_name %></dd>

  <dt>Cuisine</dt>
  <dd><%= @event.cuisine %></dd>

  <dt>Location</dt>
  <dd><%= @event.location %></dd>

  <dt>Last Updated</dt>
  <dd><%= time_ago_in_words @event.updated_at %></dd>

  <dt>Food Details Posted</dt>
   <% @food_details.each do |detail| %>
   <% dietary_restriction = DietaryRestriction.find_by(:id => detail.dietary_restrictions_id) %>
    <dd><%= dietary_restriction.dietary_notes %> <%= detail.quantity %></dd>
  <% end %>

  <%= image_tag @event.event_photo, width: 400 %>
</dl>

<%= FoodDetail.where(:event_id => @event.id).inspect %>